body {
    background-image: url(https://i.pinimg.com/736x/60/e5/a1/60e5a1c72e0f95355a1db00a638d6abe.jpg);
    color:white;
    margin: 5%;
    padding: 5%;
    border: 5%;
}
div {
    font-size: xx-large;
}